[user]
	name = st-8
	email = sasaki.r.ap@m.titech.ac.jp
[core]
	editor = vim
	quotepath = false
[merge]
	tool = code --wait \"$MERGED\"
[push]
	default = simple
[pull]
	rebase = false
[diff]
	algorithm = histogram
	colorMoved = dimmed-zebra
